<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Channels</title>

	<link rel="stylesheet" href="/css/general.css" />
    
</head>

<body>

    <div class="header">
        <span>Channels</span>
        <button class="add-button" onclick="openModal()">+</button>
    </div>

    <ul class="channel-list">
        <li class="channel-item" th:each="channel : ${channels}">
            <a class="channel-link" th:href="@{'/channel/' + ${channel.name}}">
                <div class="channel-icon">
                    <span th:text="${#strings.substring(channel.name, 0, 1)}">C</span>
                </div>
                <div class="channel-text">
                    <div class="channel-top-row">
                        <div class="channel-name" th:text="${channel.name}">Channel Name</div>
                        <div class="channel-last-time" th:if="${channel.lastMessageTime != null}" th:text="${#temporals.format(channel.lastMessageTime, 'hh:mm a')}">Time</div>
                    </div>
                    <div class="channel-last-message" th:text="${channel.lastMessage}">Last message preview...</div>
                </div>
            </a>
        </li>
    </ul>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Create New Channel</h2>
            <input type="text" id="channelName" placeholder="Enter channel name" />
            <button onclick="createChannel()">Create</button>
        </div>
    </div>

	 <script src="/js/general.js"></script>
    

</body>
</html>
